{% extends "layout.html" %}
{% block title %}Lisää työntekijä{% endblock %}

{% block body %}

<script>
    function check(form){
      if(form.firstname.value.length > 50) {
        alert("Etunimi on liian pitkä!");
        return false;
      }
      if(form.lastname.value.length > 50) {
        alert("Sukunimi on liian pitkä!");
        return false;
      }
      return true;
    }
</script>

    {% if session.username  %}
    {% if session.user_id == restaurant.owner %}

        Luo uusi työntekijä 
        <form class="" action="/restaurant/add/employee" method="post" onsubmit="return check(this)">

            <p>Etunimi: <br>
                <input type="text" name="firstname" required></p>
            <p>
            <p>Sukunimi: <br>
                <input type="text" name="lastname" required></p>
            <p>
                Valitse työntekijän rooli
                <select name="role" id="role" required>
                    <option value="Leipuri">Leipuri</option>
                    <option value="Kokki">Kokki</option>
                    <option value="Tarjoilija">Tarjoilija</option>
                    <option value="Kassahenkilö">Kassahenkilö</option>
                    <option value="Tiskari">Tiskari</option>
                </select>
            </p>    
            <p>
                Työntekijän maksimitunnit viikkoa kohden<br>
                <input type="number" name="max_hours" min="0" max="100" required>
            </p>

            <input type="hidden" name="restaurantID" value={{restaurant.id}}>
            <input type="submit" value="Lisää työntekijä!">
        </form>
        {% else %}
  
        <p>Et voi lisätä tälle ravintolalle työntekijää</p>
    
        {% endif %}

    {% else %}
  
    <p>Et ole kirjautunut sisään.</p>
    <a  class="links" href="/login">Kirjaudu sisään täältä!</a>

    {% endif %}
{% endblock %}