{% extends "layout.html" %}
{% block title %}Lisää ravintola{% endblock %}

{% block body %}
<script>
  function check(form){
    if(form.name.value.length > 50) {
      alert("Nimi on liian pitkä!");
      return false;
    }
    return true;
  }
</script>

{% if session.username %}
  Luo uusi ravintola
  <form class="" action="/add/restaurant" method="post" onsubmit="return check(this)">
    <p>Ravintolan nimi: <br>
    <input type="text" name="name" required></p>

    <input type="submit" value="Lisää ravintola!">
  </form>

  <p>
{% else %}

  <p>Et ole kirjautunut sisään.</p>
  <a href="/login">Kirjaudu sisään täältä!</a>

{% endif %}
{% endblock %}
