{% extends "layout.html" %}

{% block body %}

  <p> Ilmoita viikon {{ day_of_week }}. päivän työajat </p>
  <form class="" action="{{ url_for('restaurant_add_schedule', restaurantID=restaurantID, day_of_week=day_of_week) }}" method="post">

    <p>Työn aloitus päivänä {{ day }}<br>
    <input type="time" name="time_start"></p>

    <p>Montako tuntia työskennellään? <br>
    <input type="int" name="working_time"></p>
    <div class="">
    <input type="submit" value="Lisää!">

    </div>
  </form>


{% endblock %}
