{% extends "layout.html" %}
{% block title %}Lisää työvuoro{% endblock %}

{% block body %}
<script>
  function check(form){
    if(form.name.value.length > 50) {
      alert("Nimi on liian pitkä!");
      return false;
    }
    return true;
  }
</script>
{% if session.username %}
  Luo uusi työvuoro 
  <form class="" action="/restaurant/add/shift" method="post" onsubmit="return check(this)">

    <p>Työvuoron nimi: <br>
    <input type="text" name="name" required></p>
    <p>
        Valitse työvuoron tehtävä
        <select name="role" id="role" required>
            <option value="Leipuri">Leipuri</option>
            <option value="Kokki">Kokki</option>
            <option value="Tarjoilija">Tarjoilija</option>
            <option value="Kassahenkilö">Kassahenkilö</option>
            <option value="Tiskari">Tiskari</option>
        </select>
    </p>    
    <p>
        Työvuoron aloitusaika sekä päivä<br>
        <input type="date" name="date" min="2020-01-01" max="2025-12-31" required>
        <input type="time" name="start_time" required>
    </p>
    <p>
        Työvuoron kesto tunneissa<br>
        <input type="number" name="duration" min="0" max="24" required>
    </p>
    <p>
      Kuinka monelle viikolle haluat asettaa vuoron? (0-4viikkoa) <br>
      <input type="number" name="reps" min="0" max="4" required>
    </p>
    <p>
      <select name="repetition" id="repetition" required>
          <option value="weekly">Kerran viikossa</option>
          <option value="daily">Joka päivä</option>
      </select>
  </p>    
    <input type="hidden" name="restaurantID" value={{restaurantID}}>
    <input type="submit" value="Lisää työvuoro!">
  </form>

  <p>

{% else %}
  
  <p>Et ole kirjautunut sisään.</p>
  <a href="/login">Kirjaudu sisään täältä!</a>

{% endif %}
{% endblock %}
