{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}

{% block body %}

  {% if session.username %}
  <div class="">
    <div class="header2">
      <h2>Ravintolasi</h2>
    </div>

    <div class="right">
        <div class="headerrigth">
          <h3>Haluatko lisätä uuden ravintolan?</h3>
        </div>
        <a class="linksright" href="/add/restaurant"> Lisää uusi ravintola tästä!</a>
      </div> 
    {% if all_restaurants %}
    
      {% for restaurant in all_restaurants %}
        <h3>{{restaurant.name}}</h3>
        <a class="links" href="{{url_for('restaurant', id=restaurant.id)}}">Siirry ravintolan sivulle!</a>
      {% endfor %}
    {% else %}
    <p>Et ole vielä lisännyt yhtään ravintolaa</p>
    
    {% endif %}

  </div>

  {% else %}
  <div>
    <div>
      <form class="form" action="/login" method="post">
        <p>Tunnus: <br>
        <input type="text" name="username"></p>
        <p> Salasana: <br>
          <input type="password" name="password"></p>
          <input type="submit" id="submit_button" value="Kirjaudu">
      </form>
   </div>
    <p>Uusi käyttäjä? <a class="links" href="/register"> Rekisteröidy täällä!</a> </p>
  </div>
  {% endif %}
{% endblock %}
