{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}

{% block body %}
  {% if session.username %}
  <p> Olet kirjautunut käyttäjällä {{ session.username }}</p>
  <a class="links" href="/add/restaurant"> Lisää uusi ravintola tästä!</a>
  {% if session.user_id  %}
    <h2>Ravintolasi</h2>
    {% for restaurant in all_restaurants %}
    <div class="">
      <h3>{{restaurant.name}}</h3>
      <a class="links" href="{{url_for('restaurant', id=restaurant.id)}}">Siirry ravintolan sivulle!</a>
    </div>
    {% endfor %}
    <a class="links" href="/logout">Kirjaudu ulos</a>
    {% endif %}

  {% else %}
  
  <form class="loginform" action="/login" method="post">
    <p>Tunnus: <br>
    <input type="text" name="username"></p>
    <p> Salasana <br>
      <input type="password" name="password"></p>
      <input type="submit" value="Kirjaudu">
  </form>

  <p>Uusi käyttäjä? <a class="links" href="/register"> Rekisteröidy täällä!</a> </p>
  {% endif %}
{% endblock %}
