{% extends "layout.html" %}

{% block body %}
  {% if session.user_id %}
  <p> Olet kirjautunut käyttäjällä {{ session.username }}</p>
  <a href="/add/restaurant"> Lisää uusi ravintola tästä!</a>
  <a href="/logout">Kirjaudu ulos</a>
  {% else %}
  Kirjaudu sisään
  <form class="" action="/login" method="post">
    <p>Tunnus: <br>
    <input type="text" name="username"></p>
    <p> Salasana <br>
      <input type="password" name="password"></p>
      <input type="submit" value="Kirjaudu">
  </form>

  <p>Uusi käyttäjä? <a href="/register"> Rekisteröidy täällä!</a> </p>
  {% endif %}
{% endblock %}
