{% extends "layout.html" %}
{% block title %}Työvuorolista - {{ week }}{% endblock %}

{% block body %}
  {% if session.username %}
    {% if session.user_id == restaurant.owner%}
        <div class="header2">
            <h2> {{ employee.firstname }} {{ employee.lastname }} viikon {{ week }} työvuorot ravintolassa {{ restaurant.name }}</h2>
        </div>
        {% for (i,shift) in schedule %}
            {% if i == 0 %}
                <h3>Maanantai</h3>
            {% elif i == 1 %}
                <h3>Tiistai</h3>
            {% elif i == 2 %}
            <h3>Keskiviikko</h3>
            {% elif i == 3 %}
                <h3>Torstai</h3>
            {% elif i == 4 %}
                <h3>Perjantai</h3>
            {% elif i == 5 %}
                <h3>Lauantai</h3>
            {% elif i == 6 %}
                <h3>Sunnuntai</h3>
            {% endif %}
            {% if shift %}
                <h3>{{shift.name}}</h3>
                <p>Rooli {{shift.role}}</p> 
                <p>Työntekijä {{ employee.firstname}} {{ employee.lastname }}</p> 
                <p>klo {{shift.start_time.strftime("%H:%M")}}. Kesto {{shift.duration}} tuntia</p>
                <p>
                <a class="links" href="{{url_for('update_shift', id=shift.id, restaurantID=restaurant.id)}}"> Muokkaa tätä työvuoroa</a>
                </p>
                <p>
                <a class="links" href="{{url_for('remove_shift', id=shift.id, restaurantID=restaurant.id)}}"> Poista tämä työvuoro</a>
                </p>
            {% else %}
                <p>Ei vuoroa</p>
            {% endif %}

        {% endfor %}

    {% else %}
  
        <p>Voit katsoa vain oman ravintolasi työvuorolistoja.</p>
    
    {% endif %}
  {% else %}
  
    <p>Et ole kirjautunut sisään.</p>
    <a href="/login">Kirjaudu sisään täältä!</a>

  {% endif %}
{% endblock %}
