{% extends "layout.html" %}
{% block title %}Rekisteröinti{% endblock %}


{% block body %}

<script>
  function check(form){
    if(form.username.value.length > 30) {
      alert("Käyttäjänimi on liian pitkä!");
      return false;
    }
    return true;
  }
</script>

  Luo uusi käyttäjätili
  <form class="" action="/register" method="post" onsubmit="return check(this)">
    <p>Tunnus: <br>
    <input type="text" name="username" required></p>
    <p> Salasana: <br>
      <input type="password" name="password" required></p>
      <input type="submit" id="submit_button" value="Rekisteröidy!">

  </form>

  <p> Onko sinulla jo käyttäjätili?</p>
  <p> <a class="links" href="/login"> Kirjaudu sisään</a></p>
{% endblock %}
