{% extends "layout.html" %}
{% block title %}Poista työntekijä{% endblock %}

{% block body %}
{% if session.username %}
{% if session.user_id == restaurant.owner %}
  Halutako varmasti poistaa työntekijän {{ employee.firstname }} {{ employee.lastname }}?
  <form class="" action="/remove/employee" method="post">

    <input type="hidden" name="id" value={{employee.id}}>
    <input type="submit" value="Poista!">
  </form>

  <a class="links" href="/">Peruuta</a>

 {% else %}
  
  <p>Et voi poistaa tämän ravintolan työntekijöitä.</p>

{% endif %}

{% else %}
  
  <p>Et ole kirjautunut sisään.</p>
  <a href="/login">Kirjaudu sisään täältä!</a>

{% endif %}
{% endblock %}
