{% extends "layout.html" %}
{% block title %}Poista ravintola{% endblock %}

{% block body %}
{% if session.username %}
{% if session.user_id == restaurant.owner %}
  Halutako varmasti poistaa ravintolan {{ restaurant.name }}?
  <form class="" action="/remove/restaurant" method="post">

    <input type="hidden" name="id" value={{restaurant.id}}>
    <input type="submit" value="Poista!">
  </form>

  <a class="links" href="/">Peruuta</a>
  {% else %}
  
  <p>Et voi poistaa tätä ravintolaa.</p>

{% endif %}
{% else %}
  
  <p>Et ole kirjautunut sisään.</p>
  <a href="/login">Kirjaudu sisään täältä!</a>

{% endif %}
{% endblock %}
