{% extends "layout.html" %}
{% block title %}Poista työvuoro{% endblock %}

{% block body %}
{% if session.username %}
{% if session.user_id == restaurant.owner %}
  Halutako varmasti poistaa työvuoron {{ shift.date }}: {{ shift.name }} ?
  <form class="" action="/remove/shift" method="post">

    <input type="hidden" name="id" value={{shift.id}}>
    <input type="submit" value="Poista!">
  </form>

  <a class="links" href="/">Peruuta</a>
  {% else %}
  
  <p>Voit poistaa vain oman ravintolasi työvuoroja .</p>

{% endif %}
{% else %}
  
  <p>Et ole kirjautunut sisään.</p>
  <a href="/login">Kirjaudu sisään täältä!</a>

{% endif %}
{% endblock %}
