{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}

{% block body %}
  {% if session.username %}
  <h1>
    Ravintolan {{ name }} sivu
  </h1>
  <div>
    <p>Katso haluamasi päivän työvuorot täältä</p>
    <form action="dayview" method="get">
      <input type="date" name="date" min="2020-01-01" max="2025-12-31" required>
      <input type="hidden" name="id" value={{id}}>
      <input type="submit" value="siirry">
    </form>
  </div> 
  <div>
      Lisätyt työvuorot:
      {% for shift in shifts %}
        <p>
          {{shift[0]}}
          Päivänä {{shift[1]}} klo {{shift[2].strftime("%H:%M")}}. Kesto {{shift[3]}} tuntia :D

        </p>
      {% endfor %}

  </div>

  <div>
    Lisätyt työntekijät:
    {% for employee in employees %}
      <p>
        {{employee[1]}},{{employee[0]}}
      </p>
    {% endfor %}
  </div>
  <p>
    <a class="links" href="{{url_for('add_shift', restaurantID=id) }}" method="post">Lisää työvuoro ravintolalle</a>
  </p>
  <p>
    <a class="links" href="{{url_for('add_employee', restaurantID=id) }}" method="post">Lisää työntekijä ravintolalle</a>
  </p>

  {% else %}
  
    <p>Et ole kirjautunut sisään.</p>
    <a class="links" href="/login">Kirjaudu sisään täältä!</a>

  {% endif %}
{% endblock %}}
