{% extends "layout.html" %}
{% block title %}Päivänäkymä{% endblock %}

{% block body %}
  {% if session.username %}

    {% if shifts %}
      Ravintolan {{ name }} päivän {{ date }} työvuorot:

      {% for shift in shifts %}
          <h3>{{shift.name}}</h3>
          <p>Rooli {{ shift.role}}</p> 
          <p>klo {{shift.start_time.strftime("%H:%M")}}. Kesto {{shift.duration}} tuntia</p>
          <p>
            <a class="links" href="{{url_for('update_shift', id=shift.id)}}"> Muokkaa tätä työvuoroa</a>
          </p>
          <p>
            <a class="links" href="{{url_for('remove_shift', id=shift.id)}}"> Poista tämä työvuoro</a>
          </p>
      {% endfor %}
    
    {% else %}
        <p>Tälle päivälle ei ole lisätty yhtään vuoroa</p>
    {% endif %}

    <div>
      <p>Katso toisen päivän työvuorot täältä</p>
      <form action="dayview" method="get">
        <input type="date" name="date" min="2020-01-01" max="2025-12-31" required>
        <input type="hidden" name="id" value={{id}}>
        <input type="submit" value="siirry">
      </form>
    </div> 

  {% else %}
  
    <p>Et ole kirjautunut sisään.</p>
    <a href="/login">Kirjaudu sisään täältä!</a>

  {% endif %}
{% endblock %}
