{% extends "layout.html" %}
{% block title %}Työvuorolista - {{ week }}{% endblock %}

{% block body %}

  {% if session.username %}
    {% if session.user_id == restaurant.owner%}
        <div class="header2">
            <h2>{{ restaurant.name }} viikon {{ week }} työvuorot</h2>
        </div>
        <div class="right">
            {% if assigned_shifts %}
                <div class="">
                    <h3 class="headerright">Aiemmin annetut työvuorot:</h3>
                    <select class="as_list" >
                        {% for (shift,employee) in assigned_shifts %}
                            <option>{{ shift.name }} {{ shift.date }}: {{ employee.lastname }}, {{ employee.firstname }}</li>
                        {% endfor %}
                    </select>
                </div>
            {% endif %} 
            <div>
                <p>Viikolla käyttämättömiä tunteja {{unused_hours}}</p>
            </div>
            {% if not_assigned %}
                <div class="">
                    <h4 class="headerright">Ylijääneet työvuorot</h4>
                    <select class="as_list" >
                        {% for shift in not_assigned %}
                            <option>{{ shift.name }} {{ shift.date }}</li>
                        {% endfor %}
                    </select>
                </div>
            {% endif %} 
        </div>

        {% for i in range(7) %}
            {% if i == 0 %}
            <div class="header2">
                <h3>Maanantai</h3>
            </div>
            {% elif i == 1 %}
            <div class="header2">
                <h3>Tiistai</h3>
            </div>
            {% elif i == 2 %}
            <div class="header2">
                <h3>Keskiviikko</h3>
            </div>
            {% elif i == 3 %}
            <div class="header2">
                <h3>Torstai</h3>
            </div>
            {% elif i == 4 %}
            <div class="header2">
                <h3>Perjantai</h3>
            </div>
            {% elif i == 5 %}
            <div class="header2">
                <h3>Lauantai</h3>
            </div>
            {% elif i == 6 %}
            <div class="header2">
                <h3>Sunnuntai</h3>
            </div>
            {% endif %}
       
            {% for (shift,employee) in roster[i] %}
                <h4>{{shift.name}}</h4>
                <p>{{ employee.firstname}} {{ employee.lastname }}</p> 
                <p>{{ shift.role}}</p> 
                <p>klo {{shift.start_time.strftime("%H:%M")}}. Kesto {{shift.duration}} tuntia</p>
                <p>
                <a class="links" href="{{url_for('update_shift', id=shift.id, restaurantID=restaurant.id)}}"> Muokkaa tätä työvuoroa</a>
                </p>
                <p>
                <a class="links" href="{{url_for('remove_shift', id=shift.id, restaurantID=restaurant.id)}}"> Poista tämä työvuoro</a>
                </p>
            {% endfor %}

        {% endfor %}

    {% else %}
  
        <p>Voit katsoa vain oman ravintolasi työvuorolistoja.</p>
    
    {% endif %}
  {% else %}
  
    <p>Et ole kirjautunut sisään.</p>
    <a href="/login">Kirjaudu sisään täältä!</a>

  {% endif %}
{% endblock %}
