{% extends "layout.html" %}
{% block title %}Muokkaa ravintolaa{% endblock %}

{% block body %}
<script>
  function check(form){
    if(form.name.value.length > 50) {
      alert("Nimi on liian pitkä!");
      return false;
    }
    return true;
  }
</script>
{% if session.username %}
  {% if session.user_id == restaurant.owner %}
    <h3>Muokkaa ravintolaa {{name}}</h3>
    <form class="" action="/update/restaurant" method="post" onsubmit="return check(this)">
      <p>Ravintolan uusi nimi: <br>
      <input type="text" name="new_name" value="{{name}}" required></p>

      <input type="hidden" name="id" value={{id}}>
      <input type="submit" value="Muokkaa!">
    </form>

    <a class="links" href="/">Peruuta</a>
  {% else %}
    <h3>Et voi muokata tätä ravintolaa</h3>
  {% endif %}

{% else %}

  <p>Et ole kirjautunut sisään.</p>
  <a href="/login">Kirjaudu sisään täältä!</a>

{% endif %}
{% endblock %}
