{% extends "layout.html" %}
{% block title %}Lisää työvuoro{% endblock %}

{% block body %}
<script>
  function check(form){
    if(form.name.value.length > 50) {
      alert("Nimi on liian pitkä!");
      return false;
    }
    return true;
  }
</script>
{% if session.username %}
  <h3>Muokkaa työvuoroa {{name}} {{date}} </h3> 
  <form class="" action="/update/shift" method="post" onsubmit="return check(this)">

    <p>Työvuoron uusi nimi: <br>
    <input type="text" name="new_name" value="{{name}}" required></p>
    <p>
        Valitse työvuoron tehtävä
        <select name="new_role" id="role" required>
            <option value="Leipuri">Leipuri</option>
            <option value="Kokki">Kokki</option>
            <option value="Tarjoilija">Tarjoilija</option>
            <option value="Kassahenkilö">Kassahenkilö</option>
            <option value="Tiskari">Tiskari</option>
        </select>
    </p>    
    <p>
        Työvuoron aloitusaika sekä päivä<br>
        <input type="date" name="new_date" min="2020-01-01" max="2025-12-31" value="{{date}}" required>
        <input type="time" name="new_start_time" value="{{start_time}}" required>
    </p>
    <p>
        Työvuoron kesto tunneissa<br>
        <input type="number" name="new_duration" min="0" max="24" value="{{duration}}" required>
    </p>
    
  </p>    
  <input type="hidden" name="restaurantID" value="{{restaurantID}}">
  <input type="hidden" name="id" value="{{id}}">
  <input type="submit" value="Muokkaa!">
  </form>

{% else %}
  
  <p>Et ole kirjautunut sisään.</p>
  <a href="/login">Kirjaudu sisään täältä!</a>

{% endif %}
{% endblock %}